@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #24292d;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

nav {
    padding: 8px;
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}

.logo a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    /*float: left;*/
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #eaa023;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

.lending{
    min-height: 80vh;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #24292d;
    font-size: 15px;
    
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.left{
    width: 50%;
    height: 400px;
    background: url(shiva.png) no-repeat center/ cover;
    border-radius: 10px;
    z-index: 1;
}

.right{
    width: 50%;
    min-height: 300px;
    background-color: #2f363e;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 20px 60px;
    border-radius: 8px;
    color: #fff;
    margin: -40px;
    box-shadow: 0 0 4px #fff;
}

.right h1{
    font-size: 40px;
    font-weight: lighter;
}

.right p{
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

.lending h3{
    margin:0;
    padding:0;
    color: #eaa023;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: auto;
    letter-spacing: 2.3px;
}

.scroll-downs {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 40px;
    
    width :25px;
    height: 30px;
}
.mousey {
    width: 2px;
    padding: 10px 15px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 2px;
    height: 7px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
  
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(10px); opacity: 0;}
  }

.toggle{
    align-items: center;
    justify-content: center;
    display: flex;
}

.timeline-section{
    background-color: #24292d;
    min-height:100vh;
    padding: 20px 15px;
}

.toggle-button{
    background-color: #eaa023;
    color: #24292d;
    height:50px;
    width:auto;
    margin: 10px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding:10px;
    text-align: center;
    border: 0px;
    border-radius: 5px;
}


.timeline-section h4:first-child{
    position: relative;
    color: #eaa023;
    text-align: center;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 200;
    letter-spacing: 5px;
}

.timeline-items{
    max-width: 1000px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #413f3c;
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width:100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;

}
.timeline-item:nth-child(odd){

    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){

    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height:10px;
    width:10px;
    background-color: #eaa023;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 5px);
    top: 10px;
}


.timeline-date{
    font-size: 16px;
    color: #eea023;
    margin: 6px 0 15px 0;
    font-weight: 600;
}

.timeline-content{
    background-color: #2f363e;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 7px 7px #252525;
}

.timeline-content h3{
    font-size: 20px;
    color: #fff;
    margin: 0 0 15px;
    text-transform: capitalize;
    font-weight: 600;
}

.timeline-content p{
    font-size: 15px;
    color: #fff;
    font-weight: 590;
    line-height:  22px;
}

/*responsive*/
@media(max-width: 767px) {

    .logo {
        padding: 0;
   }

   .scroll-downs {
       display: none;
   }

   .lending{
       margin-top: 90px;
   }

  .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #2f363e;
        opacity: 0;
        transition: all 0.2s ease;
  }

  .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
  }

  .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
  }

  .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #eaa023;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
  }

  .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
  }

  .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #eaa023;
        border-radius: 2px;
        margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
        margin-top: 16px;
  }

    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }

    .container{
        flex-direction: column;
        width: 90%;
        margin: 0 10px;
    }

    .left{
        width: 100%;
        height: 300px;
    }

    .right{
        width: 90%;
        margin: 0;
        margin-top: -50px;
        padding: 60px 20px;
    }



    .timeline-section h3:first-child{
        text-align: left;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align:left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }

    .timeline-dot{
        left: 3px;
    }

    .timeline-section h4:first-child{
        font-size: 30px;
    }
}

#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: #eaa023;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
}